{% extends 'base.html.twig' %}

{% block title %}Hello TopicsController!{% endblock %}

{% block body %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Titre</th>
            <th>Auteur</th>
            <th>Date de creation</th>
            <th>Message</th>
            {% if is_granted('ADMIN') %}{% endif %}
            <th colspan='2'>Action</th>
            
        </tr>
    </thead>

    <tbody>
    {% for topic in topics %}
        <tr>
            <td>{{topic.sujet}}</td>
            <td>{{topic.auteur.username}}</td>
            <td>{{topic.dateCreation.format('d-m-y')}}</td>
            <td>{{topic.messages|length}}</td>
            <td><a href="{{ path('topics_edit', {'id': topic.id}) }}">Modifier</a></td>
            {# <td><a href="{{ path('topics_delete', {'id': topic.id}) }}">Supprimer</a></td> #}
        </tr>
    {% endfor %}

    </tbody>
</table>

{% endblock %}

